html
{

}

body
{
  /*font-family: 'Jomhuria', cursive;*/
  font-size: 25px;
  /*background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #98f542);*/
  background-color: white;
	background-size: 400% 400%;
	/*animation: gradient 8s ease infinite;*/
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
